* {
    margin: 0;
    padding: 0;
    /*font-size: 0;防止一些某名的空隙*/
    /*background-color:#21202D; */
}


.white {
    background-color:#fff; 
}
.red {
    background-color:red; 
}

.left_float{
    float:left;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  /*background-color:#21202D;  */
}
#app button {
    float:left;
}


#r_top { 
    height:10vh;
    width: 100%; 
    background-color:#21202D; 
    }
#r_midcav{
    height:80vh;
    width: 100%; 
    background-color:#21202D; 
    }
#r_foot {
    height:10vh;
    width: 100%; 
    background-color:#21202D; 
    }


#r_left {
    height:100%;
    width: 20%; 
    background-color:#21202D; 
    }
#r_center {
    height:100%;
    width: 70%; 
    background-color:#21202D; 
    } 
#r_right {
    height:100%;
    width: 10%; 
    background-color:#21202D; 
    }


.width_full {
    width: 100% !important;
}

.b_color_white
{

    background-color:#8392A5;
}
.b_color_black
{
    background-color:#21202D;
}


.button_width{
    width: 150px!important;
  }


/*
-------------- splite_time start
*/
.box_width_normal {
}

.my-autocomplete li {
    line-height: normal;
    padding: 7px;
}

.my-autocomplete li .name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
.my-autocomplete li .addr {
    font-size: 12px;
    color: #b4b4b4;
  }

.my-autocomplete li .highlighted .addr {
    color: #ddd;
}
.splite_time_line {
    float:left;
}


/*
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }*/
.el-row {
    margin-bottom: 0px;
}
.el-row.last-child {
    margin-bottom: 0;
  }
.bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
/*
-------------- splite_time end 
*/
/*

.bordered {
  &.float {
    float: left; 
  }
  .top {
    margin: 5px; 
  }
}
等同于：

.bordered.float {
  float: left; 
}
.bordered .top {
  margin: 5px;
}
.bordered.float 是串联选择器，作用在同一标签上
.bordered .top 是后代选择器，作用在不同标签上 
*/


